@using Microsoft.AspNetCore.Http;
@using VehicleRegister.Client.Helpers;

@{
    var auth = SessionHelper.GetObjectFromJson<LoginModel>(Context.Session, "identity");
}


<ul class="nav navbar-nav">
    @if (auth != null)
    {
        @if (auth.IsLoggedIn)
        {
            <li>
                @Html.ActionLink(@auth.UserName, "GetUserInformation", "Account", new { username = auth.UserName })>
            </li>
            <li>
                <form asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="btn btn-link text-info">Logout</button>
                </form>
            </li>

        }
        else
        {
            <li>
                <a asp-controller="Account"
                   asp-action="Login">Login</a>
            </li>
            <li>
                <a asp-controller="Account"
                   asp-action="Register">Register</a>
            </li>
        }
    }
    else
    {
        <li>
            <a asp-controller="Account"
               asp-action="Login">Login</a>
        </li>
        <li>
            <a asp-controller="Account"
               asp-action="Register">Register</a>
        </li>
    }

</ul>
