@model VehicleRegister.Domain.DTO.ReservationsDTO.Request.ClientCreateReservationDto

@{
    ViewData["Title"] = "BookService";
}

<h1>Book Service</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookService" asp-controller="Service">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label">Vehicles RegisterNumber: </label>
                <select asp-for="VehicleId" asp-items="@(new SelectList(ViewBag.Vehicles,"Value", "Text"))"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoMotiveRepairId" class="control-label">AutoMotive: </label>
                <select asp-for="AutoMotiveRepairId" asp-items="@(new SelectList(ViewBag.AutoMotives,"Value", "Text"))"></select>
                <span asp-validation-for="AutoMotiveRepairId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="ServiceHistory">Services</a>
</div>


