@{ ViewData["Title"] = "Home Page"; }


<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="~/Images/Header.png" alt="boat" style="width:100%;min-height:350px;max-height:600px;">

</div>


<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>OUR TEAM</h2>
    <p>Meet the team - our vehicleRegister rats:</p>

    <div class="w3-row">
        <br>

        <div class="w3-quarter">
            <img src="~/Images/CEO.png" alt="Repair" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Dhan the man</h3>
            <p>CEO</p>
        </div>

        <div class="w3-quarter">
            <img src="~/Images/RepairLeif.png" alt="Repair" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Rebecca Flex</h3>
            <p>Support</p>
        </div>

        <div class="w3-quarter">
            <img src="~/Images/RepairLeif.png" alt="Repair" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Jan Ringo</h3>
            <p>Maskot</p>
        </div>

        <div class="w3-quarter">
            <img src="~/Images/RepairLeif.png" alt="Repair" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Kai Ringo</h3>
            <p>Service Guy</p>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
</footer>


